@model Extranet.Models.LoginModel;
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_ClearLayout.cshtml";

    NavResponse<ECManagementWS.UserAuthentication_Result> navResponse = ViewBag.navResponse;

    string token = Context.Request.Query["token"] + "";
}

@section Styles {
    <link href="/css/login.css" rel="stylesheet" />
}

<div class="row">
    <div class="col-sm-5 text-black login-form">
        <img class="px-5 ms-xl-4 mt-5 mb-4" src="https://schroll.fr/wp-content/themes/schroll23/public/images/schroll-groupe-logo.62b949.png" style="max-height: 40px;" alt=""> <!-- Schroll logo -->
        <h3 class="px-5 ms-xl-4 fw-bold">Changement de mot de passe</h3>

        <div class="d-flex align-items-center px-5 ms-xl-4">
            @using (Html.BeginForm("SavePassword", "Auth", FormMethod.Post, new { id = "loginForm", style = "width: 100%;" }))
            {
                <div class="form-outline mb-4" id="email">
                    <label class="form-label fw-bold h5" for="email">Adresse e-mail</label>
                    @Html.TextBoxFor(model => model.email, null, new { type = "email", id = "emailInput", @class = "form-control form-control-lg login-input", placeholder = "Ex : thomas.dupont@mail.com" })
                    <p class="text-danger" id="emailError" style="display:none;"></p>
                </div>

                <div class="form-outline mb-2" id="password">
                    <label class="form-label fw-bold h5" for="password">Mot de passe</label>
                    @Html.TextBoxFor(model => model.password, null, new { type = "password", id = "passwordInput", @class = "form-control form-control-lg login-input", placeholder = "Votre mot de passe" })
                    <p class="text-danger" id="passwordError" style="display:none;"></p>
                </div>

                <div class="form-outline mb-2" id="password">
                    <label class="form-label fw-bold h5" for="password">Confirmation de mot de passe</label>
                    @Html.TextBoxFor(model => model.password, null, new { type = "password", id = "passwordConfirmInput", @class = "form-control form-control-lg login-input", placeholder = "Confirmer votre mot de passe" })
                    <p class="text-danger" id="passwordConfirmError" style="display:none;"></p>
                </div>

                <p class="small mb-3 pb-lg-2" style="color:red;@(!string.IsNullOrWhiteSpace(navResponse?.Message) ? "":"display:none;")">@navResponse?.Message</p>

                <button class="btn btn-lg btn-block btn-connect" type="submit" id="submitButton" disabled>Valider</button>

                <input type="hidden" id="token" value="@token" name="token" />
            }
        </div>
        <p class="px-5 ms-xl-4 mt-5">Si vous rencontrez des soucis de connexion, <a class="link-dark" href="mailTo:contact@schroll.fr" target="_blank">contactez-nous par mail</a> : nos équipes vous répondent du lundi au vendredi (de 8h à 12h et de 13h à 17h)</p>

    </div>
    <div class="col-sm-7 px-0 d-sm-block login-background">
        <img src="https://schroll.fr/wp-content/uploads/2023/09/Piste_cyclable_strasbourg-1800x1406.jpg" alt="Login image" class="login-background-image"> <!-- Schroll login screen background -->
    </div>
</div>


@section Scripts {
    <script type="text/javascript" src="/js/auth/forgottenpassword.js" asp-append-version="true"></script>
}