<div class="card chart-block">
    <div class="card-body">
        <h3 class="card-title">Total des dépenses</h3>
        <div class="chart-container">
            <div class="chart-button-container">
                <div class="chart-switch-container">
                    <button class="btn chart-switch shadow-none active chart-selector" data-chart="FacturationChart1"><i class="fa-solid fa-chart-bar"></i> Par mois (en €)</button>
                    <button class="btn chart-switch shadow-none chart-selector" data-chart="FacturationChart2"><i class="fa-solid fa-rotate-left"></i> N-1</button>
                </div>
                <div class="chart-print-container">
                    <button class="btn print-chart" data-target="#FacturationChart1-wrapper" data-canvas="FacturationChart1"><i class="fa-solid fa-print"></i></button>
                    <button class="btn print-chart" data-target="#FacturationChart2-wrapper" data-canvas="FacturationChart2" style="display:none;"><i class="fa-solid fa-print"></i></button>
                </div>
            </div>

            <div class="chart-wrapper" id="FacturationChart1-wrapper">
                <canvas id="FacturationChart1"></canvas>
                <div class="chart-summary"></div>
            </div>
            <div class="chart-wrapper" id="FacturationChart2-wrapper">
                <canvas id="FacturationChart2" style="display:none;"></canvas>
                <div class="chart-summary"></div>
            </div>
        </div>
    </div>
</div>